<div class="card m-4 border-dark shadow-div " style="max-width: 18rem;">
    <div class="card-header">
       Mission Last Update : <span class="badge badge-dark">{{ moment(mission.timestamp).calendar()}}</span>
    </div>
    <div class="card-body">
        <h6 class="card-title">{{mission.content}}</h6>
        <div class="btn-group  btn-group-sm mt-3" role="group" aria-label="...">
            <a href={{url_for('mission.mission_done',id=mission.id)}} class="btn btn-success">Done</a>
            <a href={{url_for('mission.mission_update',id=mission.id)}} class="btn btn-warning">Update</a>
            <a href={{url_for('mission.mission_delete',id=mission.id)}} class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>