{% extends 'base.html' %}
{%block content%}
{%if missions%}
{%for mission in missions%}
<div class="card mt-4">
    <div class="card-header">
        Mission
    </div>
    <div class="card-body">
        <h6 class="card-title">{{mission.content}}</h6>
        <div class="btn-group mt-3" role="group" aria-label="...">
            <a href={{url_for('mission.mission_delete',id=mission.id)}} class="btn btn-danger">Delete</a>
            <a href={{url_for('mission.mission_undo', id=mission.id)}} class="btn btn-info">undo</a>
        </div>
    </div>
</div>
{%endfor%}
{%endif%}

{%endblock%}