{%extends 'base.html'%}
{%block content%}
<h5 class="card-title text-center">Register</h5>
<form class="form-signin"  action="" method="post">
    {{form.hidden_tag()}}
    <div class="form-label-group">
        {{ form.username(id="userName" ,class="form-control" ,placeholder="username") }}
        {{ form.username.label(for="userName") }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
     <div class="form-label-group">
        {{ form.password(id="inputPassword",class="form-control",placeholder="Password") }}
         {{ form.password.label(for="inputPassword")}}
         {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase",type="submit") }}
    <br>
</form>
have account : <a href="{{url_for('user.register')}}">Sign In</a>
{%endblock%}